#navbar-div {
  margin:0;
  color:#000;
  margin-bottom: 50px;
}
.navbar {
  display:block;
  text-align: right;
  list-style-type: none;
  margin: 0 5% 0 0;
  padding:10px;
}

.navbar li {
  display:inline-block;
  padding: 10px;
  margin-right:2%;
}

.navbar li a {
  color: #777;
  text-decoration:none;
}
.navbar li a:hover {
  border-bottom: 1px solid #bbb;
  color: #bbb;
}

#logo {
  width:50%;
  float:left;
  clear:right;
  font-size: 25px;
  color: #bbb;
}
